<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Salt & Pepper - Matzo Ball Soup</title>
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/recipe-matzo.css">
</head>

<body>
  <div id="home-page">
    <div class="content">
      <header>
        <img src="img/davistar.svg" alt="Salt&Pepper Logo">
        
        <a id="logo" href="/">Salt & Pepper</a>
        
        <nav class="menu">
          <li><a class="active" href="/about">About</a></li>
          <li><a class="" href="/recipes">Recepies</a></li>
        </nav>
        <a id="send-recipe" href="/send-recipe">
          <span>SEND A RECIPE</span>
        </a>
      </header>
    </div>
  </div>

  <div class="displayimg">
    <img src="/img/Display-matzo.png" alt="">
  </div>

  <div class="page-content">
  <div class="recipecontent">
    <h1 class="title">Matzo Ball Soup</h1>
    <p class="author">by Davi Kottler</p>
    <p> <strong>Description:</strong> For children (and arguably most adults), the most welcome Passover dish is chicken soup with matzo balls. My matzo balls, neither heavy as lead nor light as a feather, are al dente, infused with fresh ginger and nutmeg. I like to freeze them, and the soup, in advance.
    </p>
    <h1 class="INGREDIENTS">INGREDIENTS </h1>

    <!-- CHECKBOX INGREDIENTS -->
    <label class="container">
      <input type="checkbox">
      4 large eggs
      <span class="checkmark"></span>
    </label>
    <label class="container">
      <input type="checkbox">
      ¼ cup schmaltz (rendered chicken fat), coconut oil or vegetable oil (kosher for Passover)
      <span class="checkmark"></span>
    </label>
    <label class="container">
      <input type="checkbox">
      ¼ cup chicken stock or vegetable stock
      <span class="checkmark"></span>
    </label>
    <label class="container">
      <input type="checkbox">
      1 cup matzo meal
      <span class="checkmark"></span>
    </label>
    <label class="container">
      <input type="checkbox">
      ¼ teaspoon ground nutmeg
      <span class="checkmark"></span>
    </label>
    <label class="container">
      <input type="checkbox" >
      1 to 2 tablespoons freshly grated ginger
      <span class="checkmark"></span>
    </label>
    <label class="container">
      <input type="checkbox" >
      2 tablespoons finely chopped parsley, dill or cilantro
      <span class="checkmark"></span>
    </label>
    <label class="container">
      <input type="checkbox" >
      1 teaspoon kosher salt, more for cooking
      <span class="checkmark"></span>
    </label>
    <label class="container">
      <input type="checkbox">
      Black pepper
      <span class="checkmark"></span>
    </label>

    <!-- PREPARATION -->
    <h1>PREPARATION</h1>
    <h2>STEP 1</h2>
    <p>In a large bowl, combine the eggs, schmaltz, stock, matzo meal, nutmeg, ginger and parsley. Season with 1 teaspoon salt and a few grinds of pepper. Gently mix with a whisk or spoon. Cover and refrigerate until chilled, about 3 hours or overnight.</p>
    <h2>STEP 2</h2>
    <p>To shape and cook the matzo balls, fill a wide, deep pan with lightly salted water and bring to a boil. With wet hands, take some of the mix and mold it into the size and shape of a Ping-Pong ball. Gently drop it into the boiling water, repeating until all the mix is used.</p>
    <h2>STEP 3</h2>
    <p>Cover the pan, reduce heat to a lively simmer and cook matzo balls about 30 to 40 minutes for al dente, longer for light. If desired, the cooked matzo balls can be transferred to chicken or vegetable soup and served immediately. Alternatively, they may be placed on a baking sheet and frozen, then transferred to a freezer bag and kept frozen until a few hours before serving; reheat in chicken or vegetable soup or broth.</p>
  </div>

</div>


<!-- FOOTER -->
  <footer class="footer">
    <p>All rights reserved by <strong>Salt & Pepper Co.</strong></p>
  </footer>
</body>




</html>