<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Salt & Pepper - Recipes </title>
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/recipes.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
</head>

<body>
  
  <div id="home-page">
    <div class="content">
      <header>
        <img src="img/davistar.svg" alt="Salt&Pepper Logo">
        
        <a id="logo" href="/">Salt & Pepper</a>
        
        <nav class="menu">
          <li><a class="active" href="/about">About</a></li>
          <li><a class="" href="/recipes">Recepies</a></li>
        </nav>
        <a id="send-recipe" href="/send-recipe">
          <span>SEND A RECIPE</span>
        </a>
      </header>
    </div>
  </div>  
  
  
  <main>
    <section style="margin-top: 50px;" class="cards">
      
      <div class="card">
        <img src="/assets/matzoball.png">
        <div class="content">
          <a href="/recipe-matzo"><h3>Matzo Ball Soup</h3></a>
          <p>by Davi Kottler</p>
        </div>
      </div>
      
      <div class="card">
        <img src="/assets/challah.png">
        <div class="content">
          <h3>Challah Bread</h3>
          <p>by Ingrid Castro</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/kugel.png">
        <div class="content">
          <h3>Noodle Kugel</h3>
          <p>by Ingrid Castro</p>
        </div>
      </div>
      <div class="card">
        <img src="/assets/potatolaktes.png">
        <div class="content">
          <h3>Potato Latkes</h3>
          <p>by Rafaela Bay</p>
        </div>
      </div>
      <div class="card">
        <img src="/assets/sufganiyot.png">
        <div class="content">
          <h3>Sufganiyot</h3>
          <p>by Davi Kottler</p>
        </div>
      </div>
      <div class="card">
        <img src="/assets/chocolaterugelah.png">
        <div class="content">
          <h3>Chocolate Rugelach</h3>
          <p>by Davi Kottler</p>
        </div>
      </div>
      
      
    </section>
  </main>
  
  <footer class="footer">
    <p>All rights reserved by <strong>Salt & Pepper Co.</strong></p>
  </footer>
  
  <script src="/scripts/scripts.js"></script>
  
</body>
</html>
