body {
    background-color: #f2f2f2;
}

#page-create-point {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-create-point header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    background-color: white;

    margin: 0 auto;
    margin-top: 50px;
    padding: 64px;
    border-radius: 8px;

    max-width: 730px;
    box-sizing: border-box;
}

form h1 {
    font-size: 36px;
    font-family: "Playfair Display", serif;
}

fieldset {
    margin-top: 64px;
    border: 0;
}

form legend {
    margin-bottom: 40px;
}

form legend h2 {
    font-size: 20px;
    font-family: "Playfair Display", serif;
    font-weight: normal;
    color: #282A34;
}

form .field {
    flex:1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

form .field-recipe {
    flex:1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    height: 150px;
}

form .field-group {
    display: flex;
}

textarea {
    border-radius: 8px;
    background-color: #f0f0f5;
    border: none;
    resize: none;
    font-family: "Lato";
    font-size: 16px;
    line-height: 25px;
}

form input,
form select {
    background-color: #f0f0f5;
    border: none;
    padding: 16px 24px;
    font-size: 16px;
    outline: none;
    border-radius: 8px;
}


form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
    font-family: "Lato";
}

form .field-group .field + .field {
    margin-left: 24px;
}

form button {
    width: 260px;
    height: 40px;
    background-color: #282A34;
    border-radius: 8px;

    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 40px;
    transition: background-color 400ms;
}

form button:hover {
    background-color: #1b1c24;
}